<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="../../images/d20trimmed.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body id="main-body">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid ">
            <a class="navbar-brand " href="/"><img src="https://i.imgur.com/CfX0A47.png" class="<%= title === '5e Character Creator' ? 'logo-bg-glow' : '' %>"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link <%= /^(?!My Characters$)(?:Barbarian |Bard |Cleric |Druid |Fighter |Monk |Paladin |Ranger |Rogue |Sorcerer |Warlock |Wizard )?Characters$/.test(title) && 'active' %>" aria-current="page"
                            href="/characters">Characters</a>
                    </li>
                    <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link <%= title === 'New Character' && 'active' %>" href="/characters/new">New
                                Character</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= title === 'My Characters' && 'active' %>" href="/characters?user=<%= user._id %>">My Characters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/auth/google">Login</a>
                            </li>
                            <% } %>
                </ul>
            </div>
        </div>
    </nav>