<%- include('../partials/header') %>

  <main>
    <form action="/characters" method="POST" id="new-character-main">
      <div id="ac">
        <i class="bi bi-shield"><span>10</span></i>
      </div>
      <section id="name-race-class">
        <input class="form-control" type="text" name="name" id="new-name" placeholder="Character Name">
        <select class="form-select" aria-label="Default select example" name="race">
          <option selected>Select Race</option>
          <% for(const r of races) { %>
            <option value="<%= r.name %>">
              <%= r.name %>
            </option>
            <% } %>
        </select>
        <select class="form-select" aria-label="Default select example" name="class">
          <option selected>Select Class</option>
          <% for(const c of classes) { %>
            <option value="<%= c.name %>">
              <%= c.name %>
            </option>
            <% } %>
        </select>
      </section>
      <br><br><br><br>
      <section id="submit-section">
        <button type="submit" class="btn btn-success">Create</button>
      </section>
    </form>
  </main>

  <script>
    const classesData = <%- JSON.stringify(races) %>;
    const findClass = classesData.find(el => el.index === 'elf')
    
    console.log(findClass);
  </script>

  <%- include('../partials/footer') %>