<%- include('../partials/header') %>

  <main>
    <form action="/characters" method="POST" id="new-character-main">
      <section id="name-race-class" class="new-input-section">
        <section>
          <label for="new-name">Character Name</label>
          <input class="form-control" type="text" name="name" id="new-name" data-bs-theme="dark" placeholder="Character Name" required>
        </section>
        <section>
          <label for="races">Race</label>
          <select class="form-select drop-down-arrow" data-bs-theme="dark" aria-label="Default select example" name="race" id="races"
            required>
            <% for(const r of allData.races) { %>
              <option value="<%= r.name %>">
                <%= r.name %>
              </option>
              <% } %>
          </select>
        </section>
        <section>
          <label for="classes">Class</label>
          <select class="form-select drop-down-arrow" data-bs-theme="dark" aria-label="Default select example" name="class" id="classes"
            required>
            <% for(const c of allData.classes) { %>
              <option value="<%= c.name %>">
                <%= c.name %>
              </option>
              <% } %>
          </select>
        </section>
        <section>
          <label for="background">Background</label>
          <select class="form-select drop-down-arrow" data-bs-theme="dark" aria-label="Default select example" name="background"
            id="backgrounds" required>
            <% for(const b of allData.backgrounds) { %>
              <option value="<%= b.name %>">
                <%= b.name %>
              </option>
              <% } %>
          </select>
        </section>
        <section>
          <label for="alignment">Alignment</label>
          <select class="form-select drop-down-arrow" data-bs-theme="dark" aria-label="Default select example" name="alignment"
            id="alignments" required>
            <% for(const a of allData.alignments) { %>
              <option value="<%= a.name %>">
                <%= a.name %>
              </option>
              <% } %>
          </select>
        </section>
      </section>
      <section id="skills-languages">
        <section id="proficiencies">
          <h2>Proficiencies</h2>
          <% allData.skills.forEach((s, idx)=> { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="<%= s.name %>" id="flexCheckDefault<%= idx %>s" name="skills">
              <label class="form-check-label" for="flexCheckDefault<%= idx %>s">
                <%= s.name %>
              </label>
            </div>
            <% }) %>
        </section>
        <section id="languages">
          <h2>Languages</h2>
          <% allData.languages.forEach((l, idx)=> { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="<%= l.name %>" id="flexCheckDefault<%= idx %>l"
                name="languages">
              <label class="form-check-label" for="flexCheckDefault<%= idx %>l">
                <%= l.name %>
              </label>
            </div>
            <% }) %>
        </section>
      </section>
      <section id="ability-scores">
        <h2>Ability Scores</h2>
        <section id="as-headings">
          <section id="ability-score-headings1"><small>Name</small><small>Score</small><small>Mod</small></section>
          <section id="ability-score-headings2"><small>Name</small><small>Score</small><small>Mod</small></section>
        </section>
        <section id="score-list">
          <% allData.abilityScores.forEach((as, index)=> { %>
            <div class="input-group mb-3 new-attributes">
              <span class="input-group-text attribute-label">
                <%= as.name %>
              </span>
              <input type="number" class="form-control " name="abilityScores" min="1" step="1"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
              <span class="input-group-text attribute-label" id="<%= as.name %>"></span>
            </div>
            <% }) %>
        </section>
      </section>
      <section id="new-info">
        <section>
          <h3>Race Age:</h3><span id="race-age"></span>
        </section>
        <section>
          <h3>Race Alignment:</h3><span id="race-alignment"></span>
        </section>
        <section>
          <h3>Race Traits:</h3><span id="race-traits"></span>
        </section>
        <section>
          <h3>Starting Equipment Options:</h3>
          <ul id="class-starting-items">
            <ul>
        </section>
        <section>
          <h3>Class Proficiency Choices:</h3><span id="class-prof-choices"></span>
        </section>
      </section>
      <section id="submit-section">
        <button type="submit" class="btn btn-success btn-lg" path="/">Create</button>
      </section>
      <section id="error-msg">
        <% if (errorMsg) { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= errorMsg %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
      </section>
    </form>
  </main>

  <%- include('../partials/script') %>

    <%- include('../partials/footer') %>