<%- include('../partials/header') %>

  <main>
    <form action="/characters" method="POST" id="new-character-main">
      <section id="name-race-class" class="new-input-section">
        <input class="form-control" type="text" name="name" id="new-name" placeholder="Character Name">
        <select class="form-select drop-down-arrow" aria-label="Default select example" name="race" id="races">
          <option disabled selected>Race</option>
          <% for(const r of allData.races) { %>
            <option value="<%= r.name %>">
              <%= r.name %>
            </option>
            <% } %>
        </select>
        <select class="form-select drop-down-arrow" aria-label="Default select example" name="class" id="classes">
          <option disabled selected>Class</option>
          <% for(const c of allData.classes) { %>
            <option value="<%= c.name %>">
              <%= c.name %>
            </option>
            <% } %>
        </select>
        <select class="form-select drop-down-arrow" aria-label="Default select example" name="background"
          id="backgrounds">
          <option disabled selected>Background</option>
          <% for(const b of allData.backgrounds) { %>
            <option value="<%= b.name %>">
              <%= b.name %>
            </option>
            <% } %>
        </select>
        <select class="form-select drop-down-arrow" aria-label="Default select example" name="alignment"
          id="alignments">
          <option disabled selected>Alignment</option>
          <% for(const a of allData.alignments) { %>
            <option value="<%= a.name %>">
              <%= a.name %>
            </option>
            <% } %>
        </select>
      </section>
      <section id="skills-languages">
        <section id="proficiencies">
          <h2>Proficiencies</h2>
          <% allData.skills.forEach((s, idx)=> { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="<%= s.name %>" id="flexCheckDefault" name="skills">
              <label class="form-check-label" for="flexCheckDefault">
                <%= s.name %>
              </label>
            </div>
            <% }) %>
        </section>
        <section id="languages">
          <h2>Languages</h2>
          <% allData.languages.forEach((l, idx)=> { %>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="<%= l.name %>" id="flexCheckDefault"
                name="languages">
              <label class="form-check-label" for="flexCheckDefault">
                <%= l.name %>
              </label>
            </div>
            <% }) %>
        </section>
      </section>
      <section id="ability-scores">
        <h2>Ability Scores</h2>
        <section id="as-headings">
          <section id="ability-score-headings1"><small>Name</small><small>Score</small><small>Mod</small></section>
          <section id="ability-score-headings2"><small>Name</small><small>Score</small><small>Mod</small></section>
        </section>
        <section id="score-list">
          <% allData.abilityScores.forEach((as, index)=> { %>
            <div class="input-group mb-3 new-attributes">
              <span class="input-group-text attribute-label">
                <%= as.name %>
              </span>
              <input type="number" class="form-control " name="attributes" min="1" step="1"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
              <span class="input-group-text attribute-label" id="<%= as.name %>"></span>
            </div>
            <% }) %>
        </section>
      </section>
      <section id="new-info">
        <section>
          <h3>Race Age:</h3><span id="race-age"></span>
        </section>
        <section>
          <h3>Race Alignment:</h3><span id="race-alignment"></span>
        </section>
        <section>
          <h3>Class Traits:</h3><span id="race-traits"></span>
        </section>
        <section>
          <h3>Starting Equipment Options:</h3>
          <ul id="class-starting-items">
            <ul>
        </section>
        <section>
          <h3>Class Proficiency Choices:</h3><span id="class-prof-choices"></span>
        </section>
      </section>
      <section id="submit-section">
        <button type="submit" class="btn btn-success btn-lg">Create</button>
      </section>
    </form>
  </main>

  <%- include('./script') %>

    <%- include('../partials/footer') %>